---
layout: page
title: Categories
---

<h1>Annotated Bibliography</h1>
 {% for post in site.categories.zab %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

<!-- <h1>Images</h1>
 {% for post in site.categories.zi %}
 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %} -->
<!-- {% assign groups = site.zombis | group_by: "categories" | sort: "name" %}

    {% for group in groups %}
        {{ group }}

    {%endfor%}


{% for c in site.zombis %}
     
<p>{{ categories }}</p>
<h1>ONE CATEGORY</h1>
<p>{{ c.content | group_by: "category" }}</p>
{% endfor %}}
 -->
